body {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.conteiner{
  width: 100vw;
  height: 100vh;
  background-color: rgb(61, 206, 157);
}
h1{
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5;
  margin: 0;
  text-align: center;
}
.link-conteiner{
  display: flex;
  flex-wrap: wrap;
}
.link-card{
  width: 150px;
  height: 250px;
  background-color: rgb(197, 26, 20);
  border-radius: 9px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.link-card a{
  text-decoration: none;
  color: white;
  font-size: 2em;
  display: block;
  height: 100%;
}